@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body {
            font-family: "Poppins", sans-serif;
            height:auto;
            background-color: #212529;
        }

        /* Position text in the middle */
        .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        }

        /* Style the <hr> element */
        hr {
        margin: auto;
        width: 40%;
        }

        .bdp {
            text-align: center;
            line-height: 7px;
        }

        p.text-f {
            color: #c6c9c4;
        }

        a.mail {
            color: #c6c9c4;
            padding-bottom: 20px;
        }

        a.mail:hover {
            color: #f2be2e;
        }

        i.fa-solid.fa-heart {
            color: #f60000;
        }

        .container {
            display: flex;
            flex-direction: column;
            min-height: 90vh;
        }

        header,
        footer {
            flex-shrink: 0;
            }

        main {
            flex-grow: 0.98;
        }

        button.light-dark {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            border: none;
            text-align: center;
            background-color: transparent;
            margin-left: auto;
            margin-right: auto;
            outline: none;
            margin-top: 15px;
        }

        button.light-dark:hover {
            opacity: 0.5;
            transform: scale(1.1);
            transition: .3s ease-in-out;
        }

        i.fa-solid.fa-moon {
            font-size: 40px;
            color: #c6c9c4;
        }
        
        .dark-mode {
            background-color: #fff;
            color: #1a202c;
        }

        button.login {
            width: 150px;
            height: 45px;
            border-radius: 10px;
            background-color: #3f444e;
            border: none;
            margin-top: 22px;
            outline: none;
            color: #fff;
            text-align: center;
            font-size: 16px;
        }

         button.login:hover {
            opacity: 0.5;
            transition-duration: 0.3s;
            text-decoration: underline;
            transform: scale(1.1);
            transition: .3s ease-in-out;
        }

        header.hdp {
            text-align: left;
        }

        ul.head {
            list-style: none;
            display: flex;
        }

        ul.head2 {
            float: right;
            margin-top: -90px;
            padding-right: 20px;
            list-style: none;
        }

        i.fa-solid.fa-circle {
            color: green;
        }

        .linkcon {
            margin-right: 7px;
            font-size: 17px;
            text-align: center;
        }

        .compteur {
            margin-right: 7px;
            font-size: 17px;
            text-align: center;
        }

        button.btnlst1 {
            width: 150px; 
            border: none;
            height: 40px; 
            border-radius: 7px;
            background-color: #fbd38d;
            outline: none;
            color: #1a202c;
        }

        button.btnlst2 {
            width: 150px;
            margin-left: 10px; 
            border: none;
            height: 40px;
            border-radius: 7px;
            background-color: #9ae6b4;
            outline: none;
            color: #1a202c;
        }

        button.btnlst3 {
            width: 150px;
            margin-left: 10px; 
            border: none;
            height: 40px;
            border-radius: 7px;
            background-color: #90cdf4;
            outline: none;
            color: #1a202c;
        }

        button.btnlst1:hover {
            background-color: #f6ad55;
            transition-duration: 0.4s;
            transition: .3s ease-in-out;
            transform: scale(1.1);
        }

        button.btnlst2:hover {
            background-color: #68d391;
            transition-duration: 0.4s;
            transform: scale(1.1);
            transition: .3s ease-in-out;
        }
        button.btnlst3:hover {
            background-color: #385b79;
            transition-duration: 0.4s;
            transform: scale(1.1);
            transition: .3s ease-in-out;
        }

        h1.title {
            color: #c6c9c4;
            font-size: 65px;
            font-family: "Poppins";
        }

        button.button-doc {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            border: none;
            text-align: center;
            background-color: transparent;
            margin-left: auto;
            margin-right: auto;
            outline: none;
            margin-top: 15px;
        }

        button.button-doc:hover {
            transition-duration: 0.4s;
            transform: scale(1.1);
            transition: .3s ease-in-out;
            opacity: 0.5;
        }

        i.fa-solid.fa-book {
            font-size: 40px;
            color: #c6c9c4;
        }
